// Button brand styles

.button-brand {
	overflow: hidden;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	height: .83rem;
	min-width: 4rem;
	line-height: .83rem;
	font-size: .22rem;
	font-weight: 700;
	white-space: nowrap;
	text-align: center;
	color: $color-light;
	text-align: center;
	text-transform: uppercase;
	padding: 0 .5rem;

	&::after {
		content: attr(data-text);
		position: absolute;
		z-index: 2;
		@include align(c,c);
		color: $color-light;
	}
	
	&:before {
		content: '';
		position: absolute;
		left: -20%;
		top: 0;
		bottom: 0;
		width: 120%;
		height: 100%;
		background-image: linear-gradient(145deg, rgba(246,134,31,1) 0%, rgba(246,134,31,1) 15%, rgba(90,43,84,1) 75%, rgba(90,43,84,1) 100%);
		transition: left .2s;
	}
}

// Hover

.button-brand:hover::before {
	left: 0;
}

@media only screen and (max-width: 767px) {
	.button-brand {
		height: 1rem;
		line-height: 1rem;
		font-size: .23rem;
	}
}