// Contact section styles

.contact {
	position: relative;
	overflow: auto;
	min-height: 56vh;
	padding-bottom: 3rem;
	@include indentation(padding-left);
	@include indentation(padding-right);

	.center {
		width: 100%;
		text-align: center;

		form {
			margin: 1.38rem auto 0 auto;
			width: 33.33%;

			input {
				float: left;
				box-sizing: border-box;
				overflow: hidden;
				width: 100%;
				height: .83rem;
				border: none;
				color: $color-light;
				font-size: .25rem;
				font-weight: 500;
				line-height: .83rem;
				background: linear-gradient(to top, $color-light 50%, $color-brand-dark 50%);
				margin: 0;
				margin-bottom: .25rem;
				padding: 0 .33rem;
				background-size: 100% 205%;
				background-position: left top;
				transition: background-position .25s;

				@media only screen and (max-width: 1200px) {
					margin-bottom: 20px;
				}

				&:focus {
					outline: none;
					color: $color-brand-dark;
					background-position: left bottom;

					&::placeholder {
						color: $color-brand-dark;
					}
				}

				&:invalid {
					background-color: red;
				}

				&::placeholder {
					color: $color-light;
					font-weight: 500;

					transition: color .5s;
				}
			}

			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
					/* display: none; <- Crashes Chrome on hover */
					-webkit-appearance: none;
					margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
			}

			.button-brand {
				float: none;
				width: auto;
				margin: 0 auto;
				margin-top: 1.13rem;
				font-weight: 700;

				&:focus {
					outline: none;
					color: $color-light;
				}
			}
		}
	}
}

// Media

@media only screen and (max-width: 767px) {
	.contact {
		padding: 0;
		height: 100vh;
		min-height: 17rem;

		.center {
			position: absolute;
			@include align(c,c);

			form {
				width: 66.66%;

				input {
					height: 1.25rem;
				}

				.button-brand {
					width: 100%;
					height: 1rem;
				}
			}
		}
	}
}

@media only screen and (min-width: 767px) and (max-width: 1200px) {
	.contact {
		padding: 3rem 0;
	}
}

@media only screen and (min-width: 1201px) {
	.contact {
		min-height: 100vh;

		.center {
			position: absolute;
			@include align(c,c);
		}
	}
}