// Footer styles

.footer {
	&__play-video,
	&__scroll-down {
		position: fixed;
		z-index: 50;
		@include indentation(bottom);
	}

	&__play-video {

		@include indentation(left);
		color: $color-light;
		transform: rotate(-90deg) translateY(100%);
		transform-origin: left bottom;

		transition: bottom .5s $ease-in-out-quart,
					opacity .5s;

		.icon-play {
			float: left;
			position: relative;
			transform: rotate(90deg);
			font-size: .5rem;
			transition: color .25s;
		}

		p {
			float: left;
			margin-left: .33rem;
			line-height: .5rem;
		}
	}

	&__scroll-down {
		@include indentation(right);
		width: 2px;
		height: 1.38rem;
		padding: 0 .5rem;
		margin-right: -.5rem;

		transition: all .5s $ease-in-out-quart;

		span {
			display: block;
			width: 100%;
			height: 100%;
			background: rgb(90,43,84);
			background: linear-gradient(145deg, rgba(90,43,84,1) 0%, rgba(90,43,84,1) 20%, rgba(246,134,31,1) 80%, rgba(246,134,31,1) 100%);

			transition: background .5s;

			&::after {
				content: '';
				position: absolute;
				@include align(c,t);
				height: 0;
				width: 2px;
				background: rgb(90,43,84);
				background: linear-gradient(145deg, rgba(246,134,31,1) 0%, rgba(246,134,31,1) 20%, rgba(90,43,84,1) 80%, rgba(90,43,84,1) 100%);

				transition: background .5s;
			}
		}
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		position: fixed;
		z-index: 500;
		@include align(c,b);
		@include indentation(padding-bottom);
		bottom: -150px;
		width: 75%;
		opacity: 0;

		transition: all .25s $ease-in-out-quart;

		&__block__title,
		&__block__item,
		&__block__item a,
		&__block__item i:before, {
			color: $color-light;

			transition: color .25s;
		}

		&__block__item a:hover,
		&__block__item a:hover i:before {
			color: $color-brand-light;
		}

		&__block__title { margin-bottom: .36rem }
		&__block__item { margin-bottom: .23rem; &:last-child { margin: 0 } }

		&__block.social-media {
			.footer__menu__block__item {
				float: left;
				width: 20%;

				&:nth-child(odd) {
					margin-top: 20px;
				}
			}
		}

		&__block.policy {
			.footer__menu__block__item {
				font-size: .2rem;
				margin-bottom: .1rem;
			}
		}
	}
}

// Animation state

@keyframes scrollDownLine {
	0% { margin-top: 0; height: 100%; }

	33% { margin-top: 1.38rem; height: 10%; }

	50% { margin-top: 0; height: 0; }

	83% { margin-top: 0; height: 0; }

	100% { margin-top: 0; height: 100%; }
}

@keyframes scrollDownAfter {
	0% { margin-top: 0; height: 0; }

	33% { margin-top: 0; height: 0; }

	50% { margin-top: 0; height: 100%; }

	83% { margin-top: 1.38rem; height: 10%; }

	100% { margin-top: 0; height: 0; }
}

.footer {
	&__scroll-down span {
		animation: scrollDownLine 5s infinite $ease-in-out-quart;

		&::after {
			animation: scrollDownAfter 5s infinite $ease-in-out-quart;
		}
	}
}

// Hover state

.footer {
	&__play-video:hover span {
		color: $color-brand-light;
	}

	&__scroll-down:hover {
		span,
		span::after {
			background: $color-light;
		}
	}

}

// Hidden state

.footer__play-video.is-hidden,
.footer__scroll-down.is-hidden {
	bottom: -150px;
	opacity: 0;

	span,
	span::after {
		animation-play-state: paused;
	}
}

.footer__scroll-down.is-open-nav {
	z-index: -1;
}

// Visible states

.footer__menu.is-visible {
	bottom: 0;
	opacity: 1;

	transition: all .75s $ease-in-out-quart;
}

// Media

@media only screen and (max-width: 767px) {
	.footer__menu {
		display: none;
	}
}

@media only screen and (min-width: 767px) and (max-width: 1200px) {
	.footer__menu {
		width: 83.33%;
	}
}