// Home screen styles

.home {
	position: relative;

	&__logo {
		position: absolute;
		@include align(c,c);
		max-width: 30%;
		min-width: 15%;
		max-height: 42%;
	}
}

// Media

@media only screen and (max-width: 767px) {
	.home__logo {
		max-width: 50%;
	}
}