// Page styles

.page {
	overflow: auto;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;

	.home,
	.projects,
	.contact {
		pointer-events: none;

		.button-brand, a, input {
			pointer-events: all;
		}
	}

	.home {
		height: 100vh;
	}

	.team,
	.webinars {
		box-sizing: border-box;
		background-color: #080920;
		background: linear-gradient(
			180deg,
			rgba(8,9,32,0) 0%,
			rgba(8,9,32,1) 5%,
			rgba(8,9,32,1) 95%,
			rgba(8,9,32,0) 100%
		);

		padding: 3.7rem 0;

		.team__background {
			height: 90%;
			margin: 5% 0;
		}

		.webinars__background {
			height: 90%;
		}
	}
}

// State

.page.is-unusable {
	pointer-events: none;
}