// Particles background styles

.particles {
	position: fixed;
	z-index: -999;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: calc( 100vh + 650px );
	background: url(../img/sky.jpg) no-repeat center;
	background-size: cover;
}

#particles .particles-js-canvas-el {
	position: absolute;
	z-index: -1;
    width: 100%;
    height: 100%;
}
