.projects {
	overflow: auto;
	padding: 3.5rem 0;
	@include indentation(padding-left);
	@include indentation(padding-right);

	&__list {
		position: relative;
		width: 100%;

		&__info {
			position: absolute;
			@include align(r,t);
			right: 8.33%;

			span {
				float: right;
				display: block;
				font-family: Bebas Neue;
				font-size: 10rem;
				line-height: 8rem;
				font-weight: 700;
				padding-top: .06rem;
				margin-bottom: -1rem;
				opacity: .02;
			}

			h2 {
				position: absolute;
				@include align(r,c);
			}
		}

		&__item {
			width: 50%;
			margin-bottom: 3.25rem;

			&:last-child {
				margin-bottom: 0;
			}

			&__photo {
				position: relative;
				width: 66.66%;
				margin: 0 auto;

				img {
					width: 100%;
					height: 100%;
					-webkit-filter: grayscale(100%);
					filter: grayscale(100%);

					transition: filter .5s;
				}

				a, p {
					position: absolute;
				}

				p {
					left: -10%;
					top: -10px;
					transform: rotate(-90deg) translateX(-100%);
					transform-origin: left bottom;
					letter-spacing: 2px;
				}

				a {
					right: -10%;
					bottom: -5px;
					transform: rotate(90deg);
					transform-origin: right top;
					color: $color-brand-light;

					&::before {
						content: "";
						position: absolute;
						right: 120%;
						top: 50%;
						transform: translateY(-50%);
						width: 1.38rem;
						height: 2px;
						background-color: $color-brand-light;
					}
				}
			}

			&__info {
				width: 66.66%;
				margin: 0 auto;

				h3 {
					font-weight: 400;
					margin: .55rem 0;
				}

				p {
					line-height: .5rem;
				}

				.button-brand {
					margin-top: .82rem;
				}
			}

			&:nth-child(odd) {
				float: right;
			}

			&:nth-child(even) {
				float: left;
			}

			&:nth-child(3) {
				margin-top: 9.25rem;
			}

			&:hover {
				img {
					filter: none;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.projects__list__info span {
		font-size: 7.5rem;
		line-height: 5.8rem;
	}
}

@media only screen and (max-width: 767px) {
	.projects__list {
		&__info {
			position: relative;
			right: 0;
			text-align: center;
			margin-bottom: 2rem;

			span {
				float: none;
				font-size: 6rem;
				line-height: 5rem;
			}

			h2 {
				position: absolute;
				@include align(c,c);
			}
		}

		&__item {
			width: 100%;

			&:nth-child(3) {
				margin-top: 0;
			}
		}
	}
}