// Scrollbar custom styles

.page {
	.scrollbar-track {
		position: fixed;
		z-index: 100;
		background: rgba(255, 255, 255, 0);
		width: 6px;
	}

	.scrollbar-thumb {
		background: rgba($color-brand-light, 1);
    	border-radius: 0;
	}
}