// Team section styles

.team {
	position: relative;
	overflow: hidden;
	z-index: 1;
	@include indentation(padding-left);
	@include indentation(padding-right);
	padding: 2.7rem 0;

	h2 {
		text-align: center;
		margin-bottom: 1.33rem;
	}

	&__background {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 66.66%;
		height: 100%;
		max-height: 100%;
		opacity: .15;
	}

	&__members {
		position: relative;
		z-index: 10;
		width: 83.33%;
		margin: 0 auto;

		&__item {
			position: relative;
			overflow: auto;
			width: 100%;
			margin-bottom: 1.38rem;

			&__photo {
				width: 40%;
			}

			&__info {
				position: absolute;
				width: 40%;

				span {
					position: absolute;
					top: 0;
				}

				h3 {
					margin-bottom: .7rem;
				}

				p {
					line-height: .5rem;
				}
			}
		}
	}

	&__about {
		position: relative;
		z-index: 10;
		width: 50%;
		margin: auto;
		padding-top: 1.38rem;
		text-align: center;

		h2 {
			position: relative;
			margin-bottom: 1rem;

			&:before {
				content: '01';
				top: 100%;
				left: 50%;
				transform: translate(-50%, -50%);
				position: absolute;
				z-index: -10;
				color: #010101;
				font-family: Bebas Neue;
				font-size: 8rem;
				line-height: 8rem;
				font-weight: 700;
				padding-top: .06rem;
				margin-bottom: -1rem;
				opacity: .3;
			}
		}

		p {
			line-height: .5rem;
			padding-bottom: .42rem;
		}

		.button-brand {
			margin-top: .66rem;
		}
	}
}

// Media

@media only screen and (min-width: 768px) {
	.team__members__item:nth-child(odd) {
		.team__members__item__photo {
				float: left;
				margin-right: 10%;
		}

		.team__members__item__info {
			@include align(r,c);
			text-align: left;

			span {
				left: -25%;
			}
		}

	}

	.team__members__item:nth-child(even) {
		.team__members__item__photo {
				float: right;
				margin-left: 10%;
		}

		.team__members__item__info {
			@include align(l,c);
			text-align: right;

			span {
				right: -25%;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.team {
		&__about h2:before {
			float: none;
			font-size: 6rem;
			line-height: 5rem;
			top: 60%;
		}

		&__members {
			&__item {
				margin-bottom: 1.66rem;

				&__photo {
					float: none;
					width: 100%;
				}

				&__info {
					float: none;
					position: relative;
					width: 100%;
					margin-top: .82rem;

					span {
						font-size: .60rem;
					}

					h3 {
						padding-left: 1.5rem;
						font-size: .66rem;
					}
				}
			}

		}

		&__about {
			width: 83.33%;
		}
	}
}

@media only screen and (max-width: 1200px) {
	.team__background {
		width: auto;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.team__about h2:before {
		font-size: 7.5rem;
		line-height: 5.8rem;
	}
}