// Webinars section styles

.webinars {
	position: relative;
	padding: 3.5rem 0;
	@include indentation(padding-left);
	@include indentation(padding-right);
	text-align: center;

	&__background {
		position: absolute;
		@include align(c,c);
		height: 100%;
		width: 100%;
		opacity: .15;
	}

	h2 {
		position: relative;
		z-index: 2;

		&:after {
			content: '03';
			top: 200%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			z-index: -1;
			color: #000;
			font-family: Bebas Neue;
			font-size: 10rem;
			line-height: 8rem;
			font-weight: 700;
			padding-top: .06rem;
			margin-bottom: -1rem;
			opacity: .3;
		}
	}

	&__slider {
		position: relative;
		z-index: 3;
		width: 83.33%;
		margin: 2rem auto;

		&__list {
			width: 80%;
			margin: 0 auto;

			&__item {
				overflow: hidden;
				position: relative;

				img {
					min-height: 100%;
					max-height: 125%;
					min-width: 100%;

					transition: all .5s ease;
				}

				// &::after {
				// 	content: '';
				// 	position: absolute;
				// 	top: 0;
				// 	bottom: 0;
				// 	width: 100%;
				// 	background-color: $color-light;

				// 	transition: width .5s .5s $ease-in-out-quart;
				// }

				// &.left {
				// 	img {
				// 		margin-left: -50%;
				// 	}

				// 	&::after {right: 0}
				// }

				// &.right {
				// 	img {
				// 		margin-left: 50%;
				// 	}

				// 	&::after {left: 0}
				// }
			}
		}

		&__arrows {
			.icon-prev,
			.icon-next {
				position: absolute;
				cursor: pointer;
				transition: color .5s;

				&:hover {
					color: $color-brand-light;
				}
			}

			.icon-prev {
				@include align(l,c);
			}

			.icon-next {
				@include align(r,c);
			}
		}
	}

	p {
		width: 50%;
		margin: .25rem auto;
		line-height: .5rem;
	}

	.button-brand {
		margin-top: 1.38rem;
	}
}

// Current slide

// .webinars__slider__list__item.slick-active {
// 	z-index: 9999;

// 	img {
// 		margin: 0;
// 	}
// }

// .webinars__slider__list__item.slick-active::after {
// 	width: 0;
// }

// Media

@media only screen and (max-width: 1200px) {
	.webinars p {
		width: 66.66%;
	}
}

@media only screen and (max-width: 767px) {
	.webinars {

		h2:after {
			float: none;
			font-size: 6rem;
			line-height: 5rem;
			top: 80%;
		}

		&__slider {
			width: 100%;

			&__list {
				width: 83.33%;
				height: 8rem;

				img {
					height: 100%;
				}
			}

			&__arrows {
				display: none;
			}
		}

		p {
			width: 83.33%;
		}
	}
}

@media only screen and (min-width: 768px) {
	.webinars__slider__list {
		height: 6rem;

		img {
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: auto;
		}
	}
}

@media only screen and (min-width: 1001px) {
	.webinars__slider__list {
		height: 8rem;
	}
}

@media only screen and (min-width: 1201px) {
	.webinars__slider__list {
		height: 9rem;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.webinars h2:after {
		font-size: 7.5rem;
		line-height: 5.8rem;
	}
}