// Variables

$header-height: 1.66rem;
$header-height-hide: 1.33rem;
$header-transition-duration: .5s;

// Import components

@import 'logo';
@import 'menu';
@import 'nav';

@import 'states';
@import 'media';

// Header styles

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	height: $header-height;
	@include indentation(padding-left);

	transition: all $header-transition-duration $ease-in-out-quart;
}