// Header logo styles

.header__logo {
	img {
		position: absolute;
		@include align(l,c);
		@include indentation(left);
		height: 60%;
		opacity: 1;

		transition: opacity .25s;
	}
}

// State

.header__logo.is-open-nav {
	z-index: 50;

	img {
		transition: opacity .5s .75s;
	}
}