// Media

@media only screen and (max-width: 767px) {
	.header__menu {
		margin-right: $header-height;

		&__item {
			a {
				font-size: .5rem;
			}

			span {
				display: none;
			}
		}
	}

	.header.is-hidden {
		.header__menu {
			margin-right: $header-height / 1.3;
		}
	}

	.header__menu__item a:hover i {
		color: $color-brand-light;
	}

	.header__nav.is-open .header__nav__list {
		width: 100vw;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.header__nav.is-open .header__nav__list {
		width: 75vw;
	}
}