// Header menu styles

.header__menu {
	position: relative;
	z-index: -2;
	float: right;
	margin-right: $header-height*2;

	transition: all $header-transition-duration $ease-in-out-quart;

	&__item {
		float: left;
		line-height: $header-height;
		margin-left: .83rem;

		transition: all $header-transition-duration $ease-in-out-quart;

		a {
			color: $color-light;

			i {
				margin-right: .22rem;
				transition: color .33s;
			}

			span {
				transition: color .33s;
			}
		}
	}
}

// Hover

.header__menu__item a:hover span {
	color: $color-brand-light;
}