// Header nav styles

.header__nav {
	box-sizing: border-box;
	position: absolute;
	z-index: -1;
	width: $header-height;
	height: $header-height;
	top: 0;
	right: 0;

	transition: all $header-transition-duration $ease-in-out-quart;

	&__hamburger {
		overflow: hidden;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background-color: rgba($color: #000000, $alpha: 0);

		transition: all $header-transition-duration $ease-in-out-quart;

		i {
			position: absolute;
			color: $color-brand-dark;
			font-size: .56rem;
			transition: all $header-transition-duration $ease-in-out-quart;
		}

		.icon-apps {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 1;
			color: $color-brand-light;
		}

		.icon-close {
			top: 100%;
			left: 50%;
			transform: translate(-50%, 0);
			opacity: 0;
		}
	}

	&__list {
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
		height: 0;
		width: 100%;
		background-color: $color-light;

		transition: all $header-transition-duration $ease-in-out-quart;

		&__items {
			position: absolute;
			@include align(c,c);

			&__item {
				position: relative;
				overflow: hidden;
				font-size: 2rem;
				height: 2rem;

				a {
					display: block;
					margin-top: 2rem;
					background: linear-gradient(180deg, rgba(8,9,32,1) 50%, rgba(8,9,32,.2) 50%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-size: auto 200%;
					background-position: 0 -77%;
					opacity: 0;
					transition: all .25s ,background-position .75s;
				}
			}
		}
	}
}

// Hover

.header__nav__list__items__item a:hover {
	background-position: 0 20%;
}