// Hide state

.header.is-hidden {
	height: $header-height-hide;

	.header__menu {
		margin-right: $header-height-hide*1.75;

		&__item {
			line-height: $header-height-hide;
			margin-left: .6rem;
		}
	}

	.header__nav {
		height: $header-height-hide;
		width: $header-height-hide;

		i {
			font-size: .5rem;
		}
	}
}

.header__nav.is-open {
	.header__nav__hamburger {
		.icon-apps {
			top: -50%;
			opacity: 0;
		}

		.icon-close {
			top: 50%;
			transform: translate(-50%, -50%);
			opacity: 1;
		}
	}

	.header__nav__list {
		pointer-events: auto;
		width: 50vw;
		height: 100vh;

		transition: height $header-transition-duration $ease-in-out-quart, width $header-transition-duration $ease-in-out-quart $header-transition-duration;

		&__items__item {

			a {
				margin-top: 0;
				opacity: 1;

				transition: background-position .75s, all $header-transition-duration $ease-in-out-quart .5s;
			}

			&:nth-child(1) a {transition: margin-top $header-transition-duration $ease-in-out-quart 1.0s, opacity $header-transition-duration $ease-in-out-quart 1.0s, background-position .75s, opacity .5s;}
			&:nth-child(2) a {transition: margin-top $header-transition-duration $ease-in-out-quart 1.05s, opacity $header-transition-duration $ease-in-out-quart 1.05s, background-position .75s, opacity .5s;}
			&:nth-child(3) a {transition: margin-top $header-transition-duration $ease-in-out-quart 1.1s, opacity $header-transition-duration $ease-in-out-quart 1.1s, background-position .75s, opacity .5s;}
			&:nth-child(4) a {transition: margin-top $header-transition-duration $ease-in-out-quart 1.15s, opacity $header-transition-duration $ease-in-out-quart 1.15s, background-position .75s, opacity .5s;}
		}
	}
}