// Theme

@import "theme/colors";

// Base

@import "base/base";

// Preloader animation styles

.preloader {
	pointer-events: none;
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: $color-brand-dark;

	transition: all .75s 5s $ease-in-out-quart;

	&__logo {
		position: absolute;
		@include align(c,c);
		max-width: 30%;
		min-width: 15%;
		max-height: 30%;

		transition: all .75s 5s $ease-in-out-quart;
	}

	&__counter {
		position: absolute;
		@include align(c,c);
		font-family: Bebas Neue;
		font-size: 10rem;
		line-height: 8rem;
		font-weight: 700;
		padding-top: 1rem;
		opacity: .1;

		transition: all .5s 4.5s $ease-in-out-quart;
	}

	.counter__container {
		overflow: hidden;
		position: absolute;
		@include align(c,c);
		height: 9rem;
		width: 75%;
	}
}

// Hidden state

.preloader.is-hidden {
	height: 0;

	.preloader__counter {
		margin-top: 9rem;
		opacity: 0;
	}

	.preloader__logo {
		opacity: 0;
	}
}