@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?66nkjl');
  src:  url('fonts/icomoon.eot?66nkjl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?66nkjl') format('truetype'),
    url('fonts/icomoon.woff?66nkjl') format('woff'),
    url('fonts/icomoon.svg?66nkjl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
  content: "\e905";
  color: #2ca5e0;
}
.icon-vk:before {
  content: "\e904";
  color: #6383a8;
}
.icon-youtube:before {
  content: "\e902";
  color: #f00;
}
.icon-twitter:before {
  content: "\e903";
  color: #1da1f2;
}
.icon-instagram:before {
  content: "\e901";
  color: #e4405f;
}
.icon-facebook:before {
  content: "\e900";
  color: #3b5998;
}
.icon-account:before {
  content: "\e853";
}
.icon-apps:before {
  content: "\e5c3";
}
.icon-prev:before {
  content: "\e408";
}
.icon-next:before {
  content: "\e409";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-note:before {
  content: "\e89c";
}
.icon-play:before {
  content: "\e039";
}
.icon-school:before {
  content: "\e80c";
}
.icon-key:before {
  content: "\e0da";
}
