// Variables

@import "variables";

// Mixin

@import "mixin/media";
@import "mixin/align";
@import "mixin/responsive";
@import "mixin/indentation";

// Base modules

@import "fonts";
@import "icons";
@import "normalize";

// Base Styles

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  color: $color-light;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3,
h4, h5, h6,
p, ul, li {
  padding: 0;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
}

img {
  user-select: none;
}

input.error::placeholder {
  color: #ef5350;
}

.button {
  cursor: pointer;
  user-select: none;
}

.slick-list,
.slick-track {
  height: 100%;
}

.slick-slide {
  outline: none;
}

.ceo {
  display: none;
}