// Bebas Neue import font

@font-face {
	font-family: 'Bebas Neue';
	src: url('../assets/fonts/BebasNeueBold.eot'); /* IE9+ Compat Modes */
	src: url('../assets/fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../assets/fonts/BebasNeueBold.woff2') format('woff2'), /* Super modern browsers */
		url('../assets/fonts/BebasNeueBold.woff') format('woff'), /* Modern browsers */
		url('../assets/fonts/BebasNeueBold.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../assets/fonts/BebasNeueBold.svg#BebasNeueBold') format('svg'); /* Legacy iOS */
	font-weight: 700;
	font-style: normal;
}

// Montserat import google fonts

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=cyrillic');

/* ------------------------------------------------------ */

// Fonts setting

body {
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3,
h4, h5, h6 {
	font-family: 'Bebas Neue', sans-serif;
}

html {
	@include responsive(font-size, $font--s-mob, $font--mob, $font--tab, $font--lap, $font--des, $font--l-des, $font--f-hd);
}

h1 {
	font-size: 1rem;
}

h2 {
	font-size: .83rem;
}

h3 {
	font-size: .66rem;
}

h4 {
	font-size: .42rem;
}

h5 {
	font-size: .33rem;
}

h6 {
	font-size: .25rem;
}

p, ul, ol {
	font-size: .36rem;
}

.t-1, .t-2 {
	font-family: "Bebas Neue" ,sans-serif;
}

.p-1, .p-2, .p-3 {
	font-family: 'Montserrat', sans-serif;
}

.t-1 {
	font-size: 1rem;
	font-weight: 700;
}

.t-2 {
	font-size: .42rem;
	font-weight: 700;
}

.p-1 {
	font-size: .33rem;
	font-weight: 700;
}

.p-2 {
	font-size: .25rem;
	font-weight: 700;
}

.p-3 {
	font-size: .25rem;
	font-weight: 400;
}

.upp {
	text-transform: uppercase;
}