@font-face {
    font-family: 'Bebas Neue';
    src: url('subset-BebasNeueBold.eot');
    src: url('subset-BebasNeueBold.eot?#iefix') format('embedded-opentype'),
        url('subset-BebasNeueBold.woff2') format('woff2'),
        url('subset-BebasNeueBold.woff') format('woff'),
        url('subset-BebasNeueBold.ttf') format('truetype'),
        url('subset-BebasNeueBold.svg#BebasNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

